#######################################
# Core Libraries for Data Science     
#######################################

pandas==2.2.2
numpy==1.26.4

#######################################
# Visualization                       
#######################################

plotly==5.22.0

#######################################
# Dashboard (UI)                      
#######################################

streamlit==1.45.1

#######################################
# Database & ORM                      
#######################################

psycopg2-binary==2.9.9
SQLAlchemy==2.0.29
alembic  # Database migrations (if used)

#######################################
# Environment Configuration           
#######################################

python-dotenv==1.0.1

#######################################
# Financial Data & Parsing            #
#######################################

yfinance==0.2.40  
lxml>=4.9.0         # Required by pandas.read_html()

#######################################
# Machine Learning                    
#######################################

scikit-learn==1.5.0
prophet==1.1.4

#######################################
# Validation & Models                 
#######################################

pydantic==2.7.1

#######################################
# Testing                             
#######################################

pytest
pytest-mock
pytest-postgresql
